    <app-nav></app-nav>

<div class="container align-items-center justify-content-center w-50 mt-4">
    <div class="card">
        <div class="card-body mx-4 mt-4">
          <h5 class="card-title">Welcome Back</h5>
          <p class="card-text">Please enter your username and password to securely access your account.</p>
          <form>
            <div class="align-items-center justify-content-centerr">
                <input type="email" class="form-control form-control-lg mb-4 w-75 "  placeholder="Email Address">
            <input type="password" class="form-control form-control-lg mb-4 w-75"    placeholder="Password"> 
            <button data-mdb-ripple-init type="button" class="btn btn-primary btn-block mb-4  w-50" routerLink="/home">Sign in</button>
          
            </div>
            
           
          </form>
        </div>
      </div>
</div>
    