<!-- <nav class="navbar navbar-light "  id="nav" data-mdb-theme="light">
    <div class="container">
         <span class="navbar-brand mb-0 ml-4 h1" id="brand">TurnQuest </span>
       </div>
 </nav> -->
 <!-- Navbar -->
<nav class="navbar navbar-expand-lg navbar-dark "   id="nav" >
  <!-- Container wrapper -->
  <div class="container-fluid">
    <!-- Toggle button -->
    <button
      data-mdb-collapse-init
      class="navbar-toggler"
      type="button"
      data-mdb-target="#navbarSupportedContent"
      aria-controls="navbarSupportedContent"
      aria-expanded="false"
      aria-label="Toggle navigation"
    >
      <i class="fas fa-bars"></i>
    </button>

    <!-- Collapsible wrapper -->
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <!-- Navbar brand -->
      <span class="navbar-brand mb-0 ml-4 h1" id="brand">TurnQuest </span>
      <!-- Left links -->
      <ul class="navbar-nav me-auto mb-2 mb-lg-0" >
        <li class="nav-item">
          <a class="nav-link" routerLink="/home">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/renewal">Renewal</a>
        </li>
        <li class="nav-item">
          <a class="nav-link"routerLink="/campaign">Campaign</a>
        </li>
      </ul>
      <!-- Left links -->
    </div>
  </div>
</nav>
<!-- Navbar -->