.container{
    margin-top: 4%;
}
h3{
    color: black;
}
tbody{
    background-color:#D9D9D933;
   
}
tr{
    border-style: none;
    border-color: white;
    border-bottom: 11px solid white;
    border-radius: 2px;
}
#btnRow{
    background-color:white;

}
.btn-success{
    background-color:#00FF70;
    color: black;
}
.btn-secondary{
    background-color:#b5b9b7;
    color: black;  
}
